<% provide(:title, "Help") %>
<div id="content-wrapper">

  <div class="row" style="margin-top: 20px;">

    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-heading"><h2>FAQ</h2></div>
        <div class="panel-body">
          <div class="panel-group" id="accordion-example">
            <div class="panel">
              <div class="panel-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-example" href="#collapseOne">
                  <strong>Q:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?
                </a>
              </div> <!-- / .panel-heading -->
              <div id="collapseOne" class="panel-collapse in">
                <div class="panel-body">
                  <strong>A:</strong> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div> <!-- / .panel-body -->
              </div> <!-- / .collapse -->
            </div> <!-- / .panel -->

            <div class="panel">
              <div class="panel-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-example" href="#collapseTwo">
                  <strong>Q:</strong> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat?
                </a>
              </div> <!-- / .panel-heading -->
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  <strong>A:</strong> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div> <!-- / .panel-body -->
              </div> <!-- / .collapse -->
            </div> <!-- / .panel -->

            <div class="panel">
              <div class="panel-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-example" href="#collapseThree">
                  <strong>Q:</strong> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu?
                </a>
              </div> <!-- / .panel-heading -->
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  <strong>A:</strong> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div> <!-- / .panel-body -->
              </div> <!-- / .collapse -->
            </div> <!-- / .panel -->

            <div class="panel">
              <div class="panel-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-example" href="#collapseFour">
                  <strong>Q:</strong> Excepteur sint occaecat cupidatat?
                </a>
              </div> <!-- / .panel-heading -->
              <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                  <strong>A:</strong> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div> <!-- / .panel-body -->
              </div> <!-- / .collapse -->
            </div> <!-- / .panel -->

            <div class="panel">
              <div class="panel-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-example" href="#collapseOne1">
                  <strong>Q:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?
                </a>
              </div> <!-- / .panel-heading -->
              <div id="collapseOne1" class="panel-collapse collapse">
                <div class="panel-body">
                  <strong>A:</strong> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div> <!-- / .panel-body -->
              </div> <!-- / .collapse -->
            </div> <!-- / .panel -->

            <div class="panel">
              <div class="panel-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-example" href="#collapseTwo1">
                  <strong>Q:</strong> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat?
                </a>
              </div> <!-- / .panel-heading -->
              <div id="collapseTwo1" class="panel-collapse collapse">
                <div class="panel-body">
                  <strong>A:</strong> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div> <!-- / .panel-body -->
              </div> <!-- / .collapse -->
            </div> <!-- / .panel -->

            <div class="panel">
              <div class="panel-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-example" href="#collapseThree1">
                  <strong>Q:</strong> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu?
                </a>
              </div> <!-- / .panel-heading -->
              <div id="collapseThree1" class="panel-collapse collapse">
                <div class="panel-body">
                  <strong>A:</strong> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div> <!-- / .panel-body -->
              </div> <!-- / .collapse -->
            </div> <!-- / .panel -->

            <div class="panel">
              <div class="panel-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-example" href="#collapseFour1">
                  <strong>Q:</strong> Excepteur sint occaecat cupidatat?
                </a>
              </div> <!-- / .panel-heading -->
              <div id="collapseFour1" class="panel-collapse collapse">
                <div class="panel-body">
                  <strong>A:</strong> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div> <!-- / .panel-body -->
              </div> <!-- / .collapse -->
            </div> <!-- / .panel -->

            <div class="panel">
              <div class="panel-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-example" href="#collapseOne2">
                  <strong>Q:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?
                </a>
              </div> <!-- / .panel-heading -->
              <div id="collapseOne2" class="panel-collapse collapse">
                <div class="panel-body">
                  <strong>A:</strong> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div> <!-- / .panel-body -->
              </div> <!-- / .collapse -->
            </div> <!-- / .panel -->

            <div class="panel">
              <div class="panel-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-example" href="#collapseTwo2">
                  <strong>Q:</strong> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat?
                </a>
              </div> <!-- / .panel-heading -->
              <div id="collapseTwo2" class="panel-collapse collapse">
                <div class="panel-body">
                  <strong>A:</strong> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div> <!-- / .panel-body -->
              </div> <!-- / .collapse -->
            </div> <!-- / .panel -->

            <div class="panel">
              <div class="panel-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-example" href="#collapseThree2">
                  <strong>Q:</strong> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu?
                </a>
              </div> <!-- / .panel-heading -->
              <div id="collapseThree2" class="panel-collapse collapse">
                <div class="panel-body">
                  <strong>A:</strong> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div> <!-- / .panel-body -->
              </div> <!-- / .collapse -->
            </div> <!-- / .panel -->

            <div class="panel">
              <div class="panel-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-example" href="#collapseFour2">
                  <strong>Q:</strong> Excepteur sint occaecat cupidatat?
                </a>
              </div> <!-- / .panel-heading -->
              <div id="collapseFour2" class="panel-collapse collapse">
                <div class="panel-body">
                  <strong>A:</strong> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div> <!-- / .panel-body -->
              </div> <!-- / .collapse -->
            </div> <!-- / .panel -->

            <div class="panel">
              <div class="panel-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-example" href="#collapseOne3">
                  <strong>Q:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?
                </a>
              </div> <!-- / .panel-heading -->
              <div id="collapseOne3" class="panel-collapse collapse">
                <div class="panel-body">
                  <strong>A:</strong> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div> <!-- / .panel-body -->
              </div> <!-- / .collapse -->
            </div> <!-- / .panel -->

            <div class="panel">
              <div class="panel-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-example" href="#collapseTwo3">
                  <strong>Q:</strong> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat?
                </a>
              </div> <!-- / .panel-heading -->
              <div id="collapseTwo3" class="panel-collapse collapse">
                <div class="panel-body">
                  <strong>A:</strong> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div> <!-- / .panel-body -->
              </div> <!-- / .collapse -->
            </div> <!-- / .panel -->

            <div class="panel">
              <div class="panel-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-example" href="#collapseThree3">
                  <strong>Q:</strong> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu?
                </a>
              </div> <!-- / .panel-heading -->
              <div id="collapseThree3" class="panel-collapse collapse">
                <div class="panel-body">
                  <strong>A:</strong> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div> <!-- / .panel-body -->
              </div> <!-- / .collapse -->
            </div> <!-- / .panel -->

            <div class="panel">
              <div class="panel-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-example" href="#collapseFour3">
                  <strong>Q:</strong> Excepteur sint occaecat cupidatat?
                </a>
              </div> <!-- / .panel-heading -->
              <div id="collapseFour3" class="panel-collapse collapse">
                <div class="panel-body">
                  <strong>A:</strong> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div> <!-- / .panel-body -->
              </div> <!-- / .collapse -->
            </div> <!-- / .panel -->
          </div> <!-- / .panel-group -->
        </div>
        <div class="panel-footer"></div>
      </div>
    </div>
  </div>

</div> <!-- / #content-wrapper -->
